<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/assets/logo-BAx44Sei.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signpost</title>
  <script type="module" crossorigin src="/assets/index-C-oD2XoJ.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-BIJA0sYZ.css">
</head>

<body>
  <div id="clear">
    <div id="app"></div>
  </div>
</body>

</html>

<style scoped>
  html, body{
    overflow: hidden;
  }
  body{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(/assets/seaboat-BlMB6n9k.png);
    background-repeat: no-repeat;
    position: sticky;
  }
  #clear{
    content: '';
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }

</style>